<section id="marketplace-page-hero">
  <div class="container container-hero-marketplace">
    <h3 class="hero-title">Browse Marketplace</h3>
    <h4 class="hero-subtitle">
      Browse through more than 50k NFTs on the NFT Marketplace.
    </h4>

    <form action="/search" method="get">
      <div class="input-wrapper">
        <input
          type="text"
          name="search"
          id="search-field"
          class="search-input"
          placeholder="Search your favourite NFTs"
        />
        <button type="submit" class="btn-search">
          <svg class="icone-search" width="24" height="24">
            <use xlink:href="./img/icons.svg#icon-glass"></use>
          </svg>
        </button>
      </div>
    </form>
  </div>
</section>
