<section class="categories">

    <div class="container">

        <h2 class="categories-title">Browse Categories</h2>

        <ul class="categories-card-list">
            <li class="categories-card-item">
                <a href="/src/partials/marketplace-page/hero.html">
                    <picture>
                        <source
                            srcset="/img/pc/home-page/categories/art-1x.png 1x, /img/mob/home-page/categories/art-2x.png 2x"
                            media="(min-width: 1280px)">
                        <source
                            srcset="/img/mob/home-page/categories/art-1x.png 1x, /img/pc/home-page/categories/art-2x.png 2x"
                            media="(max-width: 1279px)">
                        <img class="categories-img" src="/img/mob/home-page/categories/art-1x.png"
                            alt="An artistic illustration" width="147" height="142" />
                    </picture>
                    <p class="categories-card-tex">Art</p>
                </a>
            </li>

            <li class="categories-card-item">
                <a href="/src/partials/marketplace-page/hero.html">
                    <picture>
                        <source
                            srcset="/img/pc/home-page/categories/collectibles-1x.png 1x, /img/mob/home-page/categories/collectibles-2x.png 2x"
                            media="(min-width: 1280px)">
                        <source
                            srcset="/img/mob/home-page/categories/collectibles-1x.png 1x, /img/pc/home-page/categories/collectibles-2x.png 2x"
                            media="(max-width: 1279px)">
                        <img class="categories-img" src="/img/mob/home-page/categories/collectibles-1x.png"
                            alt="Illustration of a collectible item" width="147" height="142" />
                    </picture>
                    <p class="categories-card-tex">Collectibles</p>
                </a>
            </li>

            <li class="categories-card-item">
                <a href="/src/partials/marketplace-page/hero.html">
                    <picture>
                        <source
                            srcset="/img/pc/home-page/categories/music-1x.png 1x, /img/mob/home-page/categories/music-2x.png 2x"
                            media="(min-width: 1280px)">
                        <source
                            srcset="/img/mob/home-page/categories/music-1x.png 1x, /img/pc/home-page/categories/music-2x.png 2x"
                            media="(max-width: 1279px)">
                        <img class="categories-img" src="/img/mob/home-page/categories/music-1x.png"
                            alt="An illustration symbolizing music" width="147" height="142" />
                    </picture>
                    <p class="categories-card-tex">Music</p>
                </a>
            </li>

            <li class="categories-card-item">
                <a href="/src/partials/marketplace-page/hero.html">
                    <picture>
                        <source
                            srcset="/img/pc/home-page/categories/photography-1x.png 1x, /img/mob/home-page/categories/photography-2x.png 2x"
                            media="(min-width: 1280px)">
                        <source
                            srcset="/img/mob/home-page/categories/photography-1x.png 1x, /img/pc/home-page/categories/photography-2x.png 2x"
                            media="(max-width: 1279px)">
                        <img class="categories-img" src="/img/mob/home-page/categories/photography-1x.png"
                            alt="A photographic illustration representing the photography category" width="147"
                            height="142" />
                    </picture>
                    <p class="categories-card-tex">Photography</p>
                </a>
            </li>

            <li class="categories-card-item">
                <a href="/src/partials/marketplace-page/hero.html">
                    <picture>
                        <source
                            srcset="/img/pc/home-page/categories/video-1x.png 1x, /img/mob/home-page/categories/video-2x.png 2x"
                            media="(min-width: 1280px)">
                        <source
                            srcset="/img/mob/home-page/categories/video-1x.png 1x, /img/pc/home-page/categories/video-2x.png 2x"
                            media="(max-width: 1279px)">
                        <img class="categories-img" src="/img/mob/home-page/categories/video-1x.png"
                            alt="An illustration symbolizing video" width="147" height="142" />
                    </picture>
                    <p class="categories-card-tex">Video</p>
                </a>
            </li>

            <li class="categories-card-item">
                <a href="/src/partials/marketplace-page/hero.html">
                    <picture>
                        <source
                            srcset="/img/pc/home-page/categories/utility-1x.png 1x, /img/mob/home-page/categories/utility-2x.png 2x"
                            media="(min-width: 1280px)">
                        <source
                            srcset="/img/mob/home-page/categories/utility-1x.png 1x, /img/pc/home-page/categories/utility-2x.png 2x"
                            media="(max-width: 1279px)">
                        <img class="categories-img" src="/img/mob/home-page/categories/utility-1x.png"
                            alt="An illustration representing utility features" width="147" height="142" />
                    </picture>
                    <p class="categories-card-tex">Utility</p>
                </a>
            </li>

            <li class="categories-card-item">
                <a href="/src/partials/marketplace-page/hero.html">
                    <picture>
                        <source
                            srcset="/img/pc/home-page/categories/sport-1x.png 1x, /img/mob/home-page/categories/sport-2x.png 2x"
                            media="(min-width: 1280px)">
                        <source
                            srcset="/img/mob/home-page/categories/sport-1x.png 1x, /img/pc/home-page/categories/sport-2x.png 2x"
                            media="(max-width: 1279px)">
                        <img class="categories-img" src="/img/mob/home-page/categories/sport-1x.png"
                            alt="An illustration related to sports" width="147" height="142" />
                    </picture>
                    <p class="categories-card-tex">Sport</p>
                </a>
            </li>

            <li class="categories-card-item">
                <a href="/src/partials/marketplace-page/hero.html">
                    <picture>
                        <source
                            srcset="/img/pc/home-page/categories/virtual-worlds-1x.png 1x, /img/mob/home-page/categories/virtual-worlds-2x.png 2x"
                            media="(min-width: 1280px)">
                        <source
                            srcset="/img/mob/home-page/categories/virtual-worlds-1x.png 1x, /img/pc/home-page/categories/virtual-worlds-2x.png 2x"
                            media="(max-width: 1279px)">
                        <img class="categories-img" src="/img/mob/home-page/categories/virtual-worlds-1x.png"
                            alt="An illustration symbolizing virtual worlds" width="147" height="142" />
                    </picture>
                    <p class="categories-card-tex">Virtual Worlds</p>
                </a>
            </li>
        </ul>
    </div>
</section>