<section id="how-it-work">
    <div class="container">
        <h2 class="hiw-title">How it works</h2>
        <p class="hiw-text">Find out how to get started</p>
        <ul class="hiw-list">
            <li class="hiw-card">
                <svg class="hiw-svg">
                    <use></use>
                </svg>
                <h3 class="hiw-card-title">Setup Your wallet</h3>
                <p class="hiw-card-text">Set up your wallet of choice. Connect it to the NFT market by clicking the
                    wallet icon in the top right
                    corner.</p>
            </li>
            <li class="hiw-card">
                <svg class="hiw-svg">
                    <use></use>
                </svg>
                <h3 class="hiw-card-title">Create Collection</h3>
                <p class="hiw-card-text">Upload your work and setup your collection. Add a description, social links and
                    floor price.</p>
            </li>
            <li class="hiw-card">
                <svg class="hiw-svg">
                    <use></use>
                </svg>
                <h3 class="hiw-card-title">Start Earning</h3>
                <p class="hiw-card-text">Choose between auctions and fixed-price listings. Start earning by selling your
                    NFTs or trading others.</p>
            </li>
        </ul>
    </div>
</section>