<section id="mashrooms" class="mashrooms">
  <div class="container mashrooms-container">
    <div class="avatar-link">
      <img
        srcset="
          ../../img/pc/home-page/mashrooms/avatar-2.webp   1x,
          ../../img/pc/home-page/mashrooms/avatar-@2x.webp 2x
        "
        alt="avatar"
        width="24px"
      />

      <a class="avatar" href="../../artist-page.html">Shroomie</a>
    </div>
    <h2 class="title-mashrooms">Magic Mashrooms</h2>
    <div class="clock-box">
      <p class="space-p clock-text">Auction ends in:</p>
      <div id="clock" class="space-h2 time">59 : 59 : 59</div>

      <ul class="timing">
        <li class="space-h4 timing-item">Hours</li>
        <li class="space-h4 timing-item">Minutes</li>
        <li class="space-h4 timing-item">Seconds</li>
      </ul>
    </div>

    <div class="nft-link">
      <svg class="icone-eye" width="20" height="21">
        <use href="../../img/icons.svg#icon-eye"></use>
      </svg>
      <a class="nft-link-text" href="../../nft-page.html#more-from-artist"
        >See NFT</a
      >
    </div>
  </div>
</section>
