<section class="section">
  <div class="container">
    <div class="trends-container-title">
      <h2 class="trends-title">Trending Collection</h2>
      <p class="trends-text">
        Checkout our weekly updated trending collection.
      </p>
    </div>
    <ul class="trends-card-list">
      <li class="trends-card-list-item">
        <div class="trends-container-card">
          <ul class="trends-picture-list">
            <li class="trends-picture-list-item">
              <a class="trends-picture-list-item-link" href="/src/partials/nft-page/more-from-artist.html">
                <picture>
                  <source
                    srcset="
                      /img/mob/home-page/trends/mob-home-dog1-card1.webp    1x,
                      /img/mob/home-page/trends/mob-home-dog1-card1@2x.webp 2x
                    "
                    type="image/webp"
                    media="(max-width: 833px)"
                  />
                  <source
                    srcset="
                      /img/mob/home-page/trends/mob-home-dog-card1.png    1x,
                      /img/mob/home-page/trends/mob-home-dog-card1@2x.png 2x
                    "
                    type="image/png"
                    media="(max-width: 833px)"
                  />

                  <source
                    srcset="
                      /img/tab/home-page/trends/tab-home-dog1-card1.webp   1x,
                      /img/tab/home-page/trends/tab-home-dog1-card@2x.webp 2x
                    "
                    type="image/webp"
                    media="(min-width: 834px)"
                  />
                  <source
                    srcset="
                      /img/tab/home-page/trends/tab-home-dog1-card1.png    1x,
                      /img/tab/home-page/trends/tab-home-dog1-card1@2x.png 2x
                    "
                    type="image/png"
                    media="(min-width: 834px)"
                  />
                  <img
                    class="trends-picture-list-item-image"
                    src="/img/mob/home-page/trends/mob-home-dog1-card1.webp"
                    alt="dog"
                  />
                </picture>
              </a>
            </li>
            <li class="trends-picture-list-item">
              <a class="trends-picture-list-item-link" href="/src/partials/nft-page/more-from-artist.html">
                <picture>
                  <source
                    srcset="
                      /img/mob/home-page/trends/mob-home-cat2-card1.webp    1x,
                      /img/mob/home-page/trends/mob-home-cat2-card1@2x.webp 2x
                    "
                    type="image/webp"
                    media="(max-width: 833px)"
                  />
                  <source
                    srcset="
                      /img/mob/home-page/trends/mob-home-cat2-card1.png    1x,
                      /img/mob/home-page/trends/mob-home-cat2-card1@2x.png 2x
                    "
                    type="image/png"
                    media="(max-width: 833px)"
                  />

                  <source
                    srcset="
                      /img/tab/home-page/trends/tab-home-cat2-card1.webp    1x,
                      /img/tab/home-page/trends/tab-home-cat2-card1@2x.webp 2x
                    "
                    type="image/webp"
                    media="(min-width: 834px)"
                  />
                  <source
                    srcset="
                  /img/tab/home-page/trends/tab-home-cat2-card1.png 1x,
                  /img/tab/home-page/trends/tab-home-cat2-card1@2x.png 2x
                  "
                    type="image/png"
                    media="(min-width: 834px)"
                  />
                  <img
                    class="trends-picture-list-item-image"
                    src="/img/mob/home-page/trends/mob-home-cat2-card1.webp"
                    alt="cat"
                  />
                </picture>
              </a>
            </li>
            <li class="trends-picture-list-item">
              <a class="trends-picture-list-item-link" href="/src/partials/nft-page/more-from-artist.html">
                <picture>
                  <source
                    srcset="
                      /img/mob/home-page/trends/mob-home-bear3-card1.webp    1x,
                      /img/mob/home-page/trends/mob-home-bear3-card1@2x.webp 2x
                    "
                    type="image/webp"
                    media="(max-width: 833px)"
                  />
                  <source
                    srcset="
                      /img/mob/home-page/trends/mob-home-bear-card1.png     1x,
                      /img/mob/home-page/trends/mob-home-bear3-card1@2x.png 2x
                    "
                    type="image/png"
                    media="(max-width: 833px)"
                  />

                  <source
                    srcset="
                      /img/tab/home-page/trends/tab-home-bear3-card1.webp     1x,
                      /img/tab/home-page/trends/tab-home-bear3-card1.@2x.webp 2x
                    "
                    type="image/webp"
                    media="(min-width: 834px)"
                  />
                  <source
                    srcset="
                  /img/tab/home-page/trends/tab-home-bear3-card1.png 1x,
                  /img/tab/home-page/trends/tab-home-bear3-card1.@2x.png 2x
                  "
                    type="image/png"
                    media="(min-width: 834px)"
                  />
                  <img
                    class="trends-picture-list-item-image"
                    src="/img/mob/home-page/trends/mob-home-bear3-card1.webp"
                    alt="bear"
                  />
                </picture>
              </a>
            </li>
            <li class="trends-picture-list-item">
              <a
                class="trends-picture-list-item-link trends-link-to-library"
                href="/src/partials/nft-page/more-from-artist.html"
                >1025+</a
              >
            </li>
          </ul>
          <p class="trends-undertitle">DSGN Animals</p>
          <div class="trends-container-user">
            <a href="/src/partials/artist-page/created.html">
            <picture>
              <source
                srcset="
                  /img/mob/home-page/trends/mob-home-user-mrfox.webp   1x,
                  img/mob/home-page/trends/mob-home-user-mrfox@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                    /img/mob/home-page/trends/mob-home-user-fox.png 1x,
                    /img/mob/home-page/trends/mob-home-user-fox@2x.png 2x
                  "
                type="image/png"
              />
              <img
                class="trends-user-image"
                src="/img/mob/home-page/trends/mob-home-user-mrfox.webp"
                alt="MrFox"
              />
            </picture>
            </a>

            <p class="trends-user-name">MrFox</p>
          </div>
        </div>
      </li>
      <li class="trends-card-list-item trends-tab-display">
        <div class="trends-container-card">
          <ul class="trends-picture-list">
            <li class="trends-picture-list-item">
              <a class="trends-picture-list-item-link" href="/src/partials/nft-page/more-from-artist.html">
                <picture>
                  <source
                    srcset="
                      /img/tab/home-page/trends/tab-home-mashrum1-card2.webp    1x,
                      /img/tab/home-page/trends/tab-home-mashrum1-card2@2x.webp 2x
                    "
                    type="image/webp"
                    media="(min-width: 834px)"
                  />
                  <source
                    srcset="
                      /img/tab/home-page/trends/tab-home-mashrum1-card2.png    1x,
                      /img/tab/home-page/trends/tab-home-mashrum1-card2@2x.png 2x
                    "
                    type="image/png"
                    media="(min-width: 834px)"
                  />
                  <img
                    class="trends-picture-list-item-image"
                    src="/img/tab/home-page/trends/tab-home-mashrum1-card2.webp"
                    alt="mashrum"
                  />
                </picture>
              </a>
            </li>
            <li class="trends-picture-list-item">
              <a class="trends-picture-list-item-link" href="/src/partials/nft-page/more-from-artist.html">
                <picture>
                  <source
                    srcset="
                      /img/tab/home-page/trends/tab-home-mashrum2-card2.webp    1x,
                      /img/tab/home-page/trends/tab-home-mashrum2-card2@2x.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    srcset="
                      /img/tab/home-page/trends/tab-home-mashrum2-card2.png    1x,
                      /img/tab/home-page/trends/tab-home-mashrum2-card2@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img
                    class="trends-picture-list-item-image"
                    src="/img/tab/home-page/trends/tab-home-mashrum2-card2.webp"
                    alt="mashrum"
                  />
                </picture>
              </a>
            </li>
            <li class="trends-picture-list-item">
              <a class="trends-picture-list-item-link" href="/src/partials/nft-page/more-from-artist.html">
                <picture>
                  <source
                    srcset="
                      /img/tab/home-page/trends/tab-home-mashrum3-card2.webp    1x,
                      /img/tab/home-page/trends/tab-home-mashrum3-card2@2x.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    srcset="
                      /img/tab/home-page/trends/tab-home-mashrum3-card2.png    1x,
                      /img/tab/home-page/trends/tab-home-mashrum3-card2@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img
                    class="trends-picture-list-item-image"
                    src="/img/tab/home-page/trends/tab-home-mashrum3-card2.webp"
                    alt="mashrum"
                  />
                </picture>
              </a>
            </li>
            <li class="trends-picture-list-item">
              <a
                class="trends-picture-list-item-link trends-link-to-library"
                href="/src/partials/nft-page/more-from-artist.html"
                >1025+</a
              >
            </li>
          </ul>
          <p class="trends-undertitle">Magic Mushrooms</p>
          <div class="trends-container-user trends-tab-display">
            <a href="/src/partials/artist-page/created.html">
            <picture>
              <source
                srcset="
                  /img/tab/home-page/trends/tab-home-user-card2.webp    1x,
                  /img/tab/home-page/trends/tab-home-user-card2@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  /img/tab/home-page/trends/tab-home-mashrum1-user.png     1x,
                  /img/tab/home-page/trends/tab-home-mashrum1-user@2x.pngp 2x
                "
                type="image/png"
              />
              <img
                class="trends-user-image"
                src="/img/tab/home-page/trends/tab-home-user-card2.webp"
                alt="Shroomie"
              />
            </picture>
            </a>

            <p class="trends-user-name">Shroomie</p>
          </div>
        </div>
      </li>
      <li class="trends-card-list-item trends-pc-display">
        <div class="trends-container-card">
          <ul class="trends-picture-list">
            <li class="trends-picture-list-item">
              <a class="trends-picture-list-item-link" href="/src/partials/nft-page/more-from-artist.html">
                <picture>
                  <source
                    srcset="
                      /img/pc/home-page/trends/pc-home-bot1-card3.webp    1x,
                      /img/pc/home-page/trends/pc-home-bot1-card3@2x.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    srcset="
                      /img/pc/home-page/trends/pc-home-bot1-card3.png    1x,
                      /img/pc/home-page/trends/pc-home-bot1-card3@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img
                    class="trends-picture-list-item-image"
                    src="/img/pc/home-page/trends/pc-home-bot1-card3.webp"
                    alt="robot"
                  />
                </picture>
              </a>
            </li>
            <li class="trends-picture-list-item">
              <a class="trends-picture-list-item-link" href="/src/partials/nft-page/more-from-artist.html">
                <picture>
                  <source
                    srcset="
                      /img/pc/home-page/trends/pc-home-bot2-card3.webp    1x,
                      /img/pc/home-page/trends/pc-home-bot2-card3@2x.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    srcset="
                      /img/pc/home-page/trends/pc-home-bot2-card3.png    1x,
                      /img/pc/home-page/trends/pc-home-bot2-card3@2x.png 2x
                    "
                    type="image/png"
                  />
                  <img
                    class="trends-picture-list-item-image"
                    src="/img/pc/home-page/trends/pc-home-bot2-card3.webp"
                    alt="robot"
                  />
                </picture>
              </a>
            </li>
            <li class="trends-picture-list-item">
              <a class="trends-picture-list-item-link" href="/src/partials/nft-page/more-from-artist.html">
                <picture>
                  <source
                    srcset="
                      /img/pc/home-page/trends/pc-home-bot3-card3.webp    1x,
                      /img/pc/home-page/trends/pc-home-bot3-card3@2x.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    srcset="
                      /src/img/pc/home-page/trends/pc-home-bot3-card3.png 1x,
                      /img/pc/home-page/trends/pc-home-bot3-card3@2x.png  2x
                    "
                    type="image/png"
                  />
                  <img
                    class="trends-picture-list-item-image"
                    src="/img/pc/home-page/trends/pc-home-bot3-card3.webp"
                    alt="robot"
                  />
                </picture>
              </a>
            </li>
            <li class="trends-picture-list-item">
              <a
                class="trends-picture-list-item-link trends-link-to-library"
                href="/src/partials/nft-page/more-from-artist.html"
                >1025+</a
              >
            </li>
          </ul>
          <div class="trends-container-under-card-content">
            <a class="trends-user-link" href="/src/partials/artist-page/created.html">
            <p class="trends-undertitle">Disco Machines</p>
            <div class="trends-container-user trends-pc-display">
              <picture>
                <source
                  srcset="
                    img/pc/home-page/trends/pc-home-user-card3.webp     1x,
                    /img/pc/home-page/trends/pc-home-user-card3@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    /img/pc/home-page/trends/pc-home-bot1-user.png   1x,
                    img/pc/home-page/trends/pc-home-bot1-user@2x.png 2x
                  "
                  type="image/png"
                />
                <img
                  class="trends-user-image"
                  src="/img/pc/home-page/trends/pc-home-user-card3.webp"
                  alt="BeKind2Robots"
                />
              </picture>
              </a>

              <p class="trends-user-name">BeKind2Robots</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
