<section class="section">
  <div class="container">
    <h2 class="trends-title">Trending Collection</h2>
    <p class="trends-text">Checkout our weekly updated trending collection.</p>
    <ul class="trends-card-list">
      <li class="trends-card-list-item">
        <div class="trends-container-card">
          <ul class="trends-picture-list">
            <li class="trends-picture-list-item">
              <a class="trends-picture-list-item-link" href="">
                <picture>
                  <source
                    srcset="
                      /img/tab/home-page/trends/tab-home-dog1-card1.webp   1x,
                      /img/tab/home-page/trends/tab-home-dog1-card@2x.webp 2x
                    "
                    media="(min-width: 767px)"
                  />
                  <img
                    class="trends-picture-list-item-image"
                    src="/img/mob/home-page/trends/mob-home-dog1-card1.webp"
                    srcset="
                      /img/mob/home-page/trends/mob-home-dog1-card1@2x.webp
                    "
                    alt="dog"
                  />
                </picture>
              </a>
            </li>
            <li class="trends-picture-list-item">
              <a class="trends-picture-list-item-link" href="">
                <img
                  class="trends-picture-list-item-image"
                  src="/img/mob/home-page/trends/mob-home-cat2-card1.webp"
                  srcset="/img/mob/home-page/trends/mob-home-cat2-card1@2x.webp"
                  alt="cat"
                />
              </a>
            </li>
            <li class="trends-picture-list-item">
              <a class="trends-picture-list-item-link" href="">
                <img
                  class="trends-picture-list-item-image"
                  src="/img/mob/home-page/trends/mob-home-bear3-card1.webp"
                  srcset="
                    /img/mob/home-page/trends/mob-home-bear3-card1@2x.webp
                  "
                  alt="bear"
                />
              </a>
            </li>
            <li class="trends-picture-list-item">
              <a
                class="trends-picture-list-item-link trends-link-to-library"
                href=""
                >1025+</a
              >
            </li>
          </ul>
          <p class="trends-undertitle">DSGN Animals</p>
          <div class="trends-container-user">
            <img
              class="trends-user-image"
              src="/img/mob/home-page/trends/mob-home-user-mrfox.webp"
              srcset="/img/mob/home-page/trends/mob-home-user-mrfox@2x.webp"
              alt="MrFox"
            />
            <p class="trends-user-name">MrFox</p>
          </div>
        </div>
      </li>
      <li class="trends-card-list-item trends-tab-display">
        <div class="trends-container-card">
          <ul class="trends-picture-list">
            <li class="trends-picture-list-item">
              <a class="trends-picture-list-item-link" href="">
                <img
                  class="trends-picture-list-item-image"
                  src="/img/tab/home-page/trends/tab-home-mashrum1-card2.webp"
                  srcset="
                    /img/tab/home-page/trends/tab-home-mashrum1-card2@2x.webp
                  "
                  alt="mashrum"
                />
              </a>
            </li>
            <li class="trends-picture-list-item">
              <a class="trends-picture-list-item-link" href="">
                <img
                  class="trends-picture-list-item-image"
                  src="/img/tab/home-page/trends/tab-home-mashrum2-card2.webp"
                  srcset="
                    /img/tab/home-page/trends/tab-home-mashrum2-card2@2x.webp
                  "
                  alt="mashrum"
                />
              </a>
            </li>
            <li class="trends-picture-list-item">
              <a class="trends-picture-list-item-link" href="">
                <img
                  class="trends-picture-list-item-image"
                  src="/img/tab/home-page/trends/tab-home-mashrum3-card2.webp"
                  srcset="
                    /img/tab/home-page/trends/tab-home-mashrum3-card2@2x.webp
                  "
                  alt="mashrum"
                />
              </a>
            </li>
            <li class="trends-picture-list-item">
              <a
                class="trends-picture-list-item-link trends-link-to-library"
                href=""
                >1025+</a
              >
            </li>
          </ul>
          <p class="trends-undertitle">Magic Mushrooms</p>
          <div class="trends-container-user trends-tab-display">
            <img
              class="trends-user-image"
              src="/img/tab/home-page/trends/tab-home-user-card2.webp"
              srcset="/img/tab/home-page/trends/tab-home-user-card2@2x.webp"
              alt="Shroomie"
            />
            <p class="trends-user-name">Shroomie</p>
          </div>
        </div>
      </li>
      <li class="trends-card-list-item trends-pc-display">
        <div class="trends-container-card">
          <ul class="trends-picture-list">
            <li class="trends-picture-list-item">
              <a class="trends-picture-list-item-link" href="">
                <img
                  class="trends-picture-list-item-image"
                  src="/img/pc/home-page/trends/pc-home-bot1-card3.webp"
                  srcset="/img/pc/home-page/trends/pc-home-bot1-card3@2x.webp"
                  alt="robot"
                />
              </a>
            </li>
            <li class="trends-picture-list-item">
              <a class="trends-picture-list-item-link" href="">
                <img
                  class="trends-picture-list-item-image"
                  src="/img/pc/home-page/trends/pc-home-bot2-card3.webp"
                  srcset="/img/pc/home-page/trends/pc-home-bot2-card3@2x.webp"
                  alt="robot"
                />
              </a>
            </li>
            <li class="trends-picture-list-item">
              <a class="trends-picture-list-item-link" href="">
                <img
                  class="trends-picture-list-item-image"
                  src="/img/pc/home-page/trends/pc-home-bot3-card3.webp"
                  srcset="/img/pc/home-page/trends/pc-home-bot3-card3@2x.webp"
                  alt="robot"
                />
              </a>
            </li>
            <li class="trends-picture-list-item">
              <a
                class="trends-picture-list-item-link trends-link-to-library"
                href=""
                >1025+</a
              >
            </li>
          </ul>
          <div class="trends-container-under-card-content">
            <p class="trends-undertitle">Disco Machines</p>
            <div class="trends-container-user trends-pc-display">
              <img
                class="trends-user-image"
                src="/img/pc/home-page/trends/pc-home-user-card3.webp"
                srcset="/img/pc/home-page/trends/pc-home-user-card3@2x.webp"
                alt="BeKind2Robots"
              />
              <p class="trends-user-name">BeKind2Robots</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
