.footer-hiw {
  background-color: #3b3b3b;
  padding: 40px 30px;
}

.hiw-footer-list {
  display: flex;
  flex-direction: column;
}

.hiw-footer-item {
  margin-bottom: 30px;
  column-gap: 20px;
}

.footer-hiw-logo {
  width: 243px;
  height: 32px;
  margin-bottom: 20px;
}

.footer-text {
  font-size: 16px;
  line-height: 140%;
  color: #ccc;
  margin-bottom: 20px;
}

.footer-link-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-item {
  font-family: 'Space Mono', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
  color: #fff;
  margin-bottom: 20px;
}

.footer-list-link {
  display: flex;
  gap: 10px;
}

.footer-link-icon {
  fill: #858584;
}

.footer-text-link {
  display: block;
  font-size: 16px;
  line-height: 140%;
  color: #ccc;
}

.footer-before {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-copyright {
  padding-top: 20px;
  border-top: 1px solid #858584;
  width: 315px;
  height: 0px;
  display: block;
}

.footer-copyright {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #ccc;
}

@media (width>= 834px) {
  .footer-hiw {
    padding: 40px 72px;
  }

  .footer-input-item {
    margin-bottom: 50px;
  }

  .footer-input {
    padding: 18px 0 18px 20px;
    margin-bottom: 0;
  }

  .footer-input-div {
    position: relative;
    width: 420px;
  }

  .footer-button {
    position: absolute;
    display: flex;
    width: 179px;
    padding: 19px 50px;
    top: 0;
    left: 58%;
  }

  .footer-button-icon {
    display: none;
  }

  .footer-copyright {
    width: 690px;
  }
}

@media (width>=1280px) {
  .hiw-footer-list {
    flex-direction: row;
    justify-items: baseline;
    width: 987px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-hiw-logo {
    margin-bottom: 30px;
  }

  .hiw-footer-item-first {
    padding-right: 84px;
  }

  .text-footer-one {
    width: 238px;
    margin-bottom: 15px;
  }

  

  .footer-link-icon {
    width: 32px;
    height: 32px;
  }


    .footer-item {
      margin-bottom: 25px;
    }

  .footer-link-flex {
    padding-right: 107px;
    gap: 0;
  }

  .footer-text-link-second {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
     .footer-text-last {
      width: 330px;
     }
    .footer-button {
      left: 59%;
    }

        .footer-input-item {
          margin-bottom: 0;
        }

                .footer-last-container {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                }

                .footer-copyright {
                  width: 1049px;
                  height: 33px;
                }


}
